<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Area Utenti</title>
  </head>
  <body>
    <h2>Benvenuto nell'area riservata</h2>
    <p>Qui nascondiamo tutti i nostri segretucci</p>
    <p>Quando hai finito non dimenticare di
      <a href="/disconnect">disconnetterti</a></p>
  </body>
</html>