@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,700;1,400&family=Libre+Baskerville:ital@1&display=swap");

body {
  margin: 0;
  background-color: rgb(237, 248, 245);
}

.quote-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.quote {
  padding: 8px;
  width: 200px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  background-color: lightblue;
  font-family: "Bitter", serif;
}
