* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

header a {
  text-decoration: none;
}
header .hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

header .tendina {
  background-color: white;
  box-shadow: 0px 10px 10px #000;
  position: absolute;
  width: 300px;
  height: 400px;
  right: 10px;
  top: 65px;
  z-index: 2;
  opacity: 0;
  transition: all 0.35s;
  padding: 20px;
}

header .hamburger .line {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 5px;
}

section .hero {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

section .hero img {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.35s;
}

.show {
  opacity: 1 !important;
}

section .controls {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .controls .btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.active {
  background-color: crimson !important;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  color: white;
  background-color: black;
}

section .products {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

section .products .card {
  border: 1px solid black;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section .products .card img {
  width: 100%;
  margin-bottom: 10px;
  max-height: 130px;
  object-fit: contain;
}

section .products .card .title {
  font-size: 24px;
}

section .products .card .description {
  flex-grow: 1;
}

section .products .card button {
  padding: 5px 10px;
  background-color: #000;
  color: white;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 5px;
  width: 100%;
}

.delete {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  cursor: pointer;
}

.delete:hover {
  color: white;
  background-color: black;
}

.forms {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  height: 400px;
}

.forms input {
  font-size: 10px;
  border-radius: 4px;
}

.forms textarea {
  font-size: 10px;
  border-radius: 4px;
}

/* .switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

.dark-mode {
  background-color: black;
  color: white;
}
